* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.app,
main {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-----------------------structuur pagina-------------------------*/

.leftColumn::-webkit-scrollbar {
  display: none;
}

.middleColumn::-webkit-scrollbar {
  display: none;
}

.rightColumn::-webkit-scrollbar {
  display: none;
}

.storyContainer::-webkit-scrollbar {
  display: none;
}

.leftColumn {
  width: 30%;
  margin: 0 10px;
  overflow-y: auto;
}

.leftColumnScroll {
  margin: 195px 0px 0px 0px;
}

.rightColumnScroll {
  margin: 104px 0px 0px 0px;
}

.middleColumn {
  width: 40%;
  margin: 0 10px;
  overflow-y: auto;
}

.rightColumn {
  width: 30%;
  margin: 0 10px;
  overflow-y: auto;
}

.header {
  background: #4267b2;
  padding: 10px 10px;
  color: white;
  height: 40px;
}

.header__logo {
  margin: 0px 10px 0px 0px;
}

.header__input {
  width: 350px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 5px;
  background: #e8ecf4;
}

.verticalFeed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.horizontalFeed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.feed__loading {
  padding: 50px;
  font-size: 72px;
  opacity: 0.5;
}

.gekleurdeDiv {
  background: #e8ecf4;
  height: 20px;
  width: 411px;
}

/*-----------------------items-------------------------*/

.item {
  background: white;
  margin-bottom: 20px;
}

.item__newsHeader {
  display: flex;
  flex-direction: row;
}

.item__profileNameContainer {
  margin: 13px 10px 10px 0px;
}
.item__profileImage {
  border-radius: 50%;
  border: 1px;
  border-style: solid;
  border-color: lightsteelblue;
  margin: 10px;
}

.item__profileName {
  color: #4667a8;
}

.item__messageSource {
  color: #4667a8;
}

.item__messageSourceWebsite {
  color: #f20c39;
  margin: 3px 10px 8px 10px;
}

.item__image {
  width: 100%;
}

.item__text {
  font-size: 18px;
  font-weight: 600;
  margin: 3px 10px 10px 10px;
}

.item__statusText {
  font-size: 18px;
  font-weight: 600;
  font-style: oblique;
  margin: 0px 10px 10px 10px;
}

.item__actions {
  padding: 0px 10px 10px 10px;
}

.item__date {
  margin: 3px 0px 0px 0px;
  font-size: 13px;
  color: #90a3ca;
}

.item__notificationHeader {
  background: #90a3ca;
  display: flex;
  flex-direction: row;
}

.item__notificationHeaderText {
  margin: 0px;
  padding: 10px;
  color: white;
}

.item__notificationText {
  background: #c8d1e4;
  color: #7b93c3;
  font-size: 13px;
}

.item__notificationF {
  padding: 10px 0px 10px 10px;
  max-height: 55px;
  width: 29px;
}

.item__adHeader {
  display: flex;
  flex-direction: row;
}

.item__pageName {
  color: #4667a8;
}

.item__pageNameContainer {
  margin: 13px 10px 10px 0px;
}

.item__gesponsord {
  margin: 3px 0px 0px 0px;
  font-size: 13px;
  color: grey;
}

.item__subText {
  padding: 0px 10px 10px 10px;
}

.item__notificationTextContainer {
  background: #c8d1e4;
  padding: 6px 10px 10px 10px;
}

.item__notificationTextTitle {
  font-size: 18px;
  font-weight: 500;
  color: #7b93c3;
}

/*-----------------------Facetracking-------------------------*/

.liveFaceTracking {
  background: pink;
  margin: 0px 0px 10px 0px;
  position: fixed;
  height: 180px;
  width: 411px;
}

/*-----------------------stories-------------------------*/

.storyContainer {
  margin: 0px 0px 10px 0px;
  position: fixed;
  height: 125px;
  width: 411px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.story-item {
  display: inline-block;
  padding: 5px;
  margin: 0px;
}

.item__storyProfileImage {
  border-radius: 50%;
  border: 1px;
  border-style: solid;
  border-color: lightsteelblue;
  margin: 3px 5px 1px 5px;
}

.item__storyProfileName {
  margin: 0px 0px 2px 0px;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.item__storyItem {
  width: 60px;
  padding: 0px 4px 0px 4px;
}
