* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root,
.app,
main {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leftColumn {
  width: 30%;
  margin: 0 10px;
}

.middleColumn {
  width: 40%;
  margin: 0 10px;
}

.rightColumn {
  width: 30%;
  margin: 0 10px;
}

.header {
  background: #4267b2;
  padding: 10px 10px;
  color: white;
  height: 40px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 5px;
  background: #e8ecf4;
}

.feed {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feed__loading {
  padding: 50px;
  font-size: 72px;
  opacity: 0.5;
}

.item {
  background: white;
  margin-bottom: 20px;
}

.item__newsHeader {
  display: flex;
  flex-direction: row;
}

.item__profileNameContainer {
  margin: 10px 10px 10px 0px;
}
.item__profileImage {
  border-radius: 50%;
  margin: 10px;
}

.item__profileName {
  color: #4667a8;
}

.item__messageSource {
  color: #4667a8;
}

.item__messageSourceWebsite {
  color: #f20c39;
  margin: 3px 10px 8px 10px;
}

.item__text {
  font-size: 20px;
  font-weight: 500;
  margin: 3px 10px 10px 10px;
}

.item__actions {
  margin: 10px;
}

.item__notificationHeader {
  background: #90a3ca;
  display: flex;
  flex-direction: row;
}

.item__notificationHeaderText {
  margin: 0px;
  padding: 10px;
  color: white;
}

.item__notificationText {
  background: #0a208f;
  color: white;
}

.item__notificationF {
  padding: 10px 0px 10px 10px;
  max-height: 55px;
  width: 33px;
}

.item__adHeader {
  display: flex;
  flex-direction: row;
}

.item__pageName {
  color: #4667a8;
}

.item__gesponsord {
  margin: 0px;
}

.item__pageNameContainer {
}

.liveFaceTracking {
  background: white;
  margin: 0px 0px 10px 0px;
}
